body{
    max-width: 43rem;
    margin: 0 auto;
}

header{
    background-color: var(--explorer-dark-green);

    padding: 1.2rem 11rem;

    form{
        flex: 1;
    }

    .container{
        display: flex;
        align-items: center;
        gap: 2rem;
    }
    .input-wrapper{
        label{
            width: 1px;
            height: 1px;
            overflow: hidden;
            position: absolute;
        }
        input{
            padding: 1.2rem 1.6rem;
            min-width: 100%;
            border-radius: .4rem;
            color: #FFFFFF;
            background: rgba(255, 255, 255, 0.20);
        }
    }
    img{
        width: 4.2rem;
        height: 4.2rem;

        border-radius: 50%;
    }
}

main{
    img{
        width: 100%;
    }
    h1{
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 160%;

        flex: 1;

        margin-bottom: 0.8rem;
    }
    button{
        width: 4rem;
        height: 4rem;
        padding: 1.2rem;

        align-items: center;

        border-radius: 50%;
        background-color: $explorer-dark-green;
    }
    article{
        padding: 3.1rem 2.6rem 2.2rem 3.4rem;
        p{
            margin-top: 3.1rem;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 160%;
        }
    }
}

aside{
    padding-left: 2.2rem;
    padding-right: 2.6rem;
    padding-bottom: 4rem;
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
    h2{
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 160%;
    }

    article{
        display: flex;
        gap: 1.6rem;
        figcaption{
            height: 8rem;
            width: 21.5rem;

            display: flex;
            flex-direction: column;

            gap: 1.2rem;
            h3{
                font-size: 1.8rem;
                font-weight: 700;
            }
            p{
                max-height: 7.2rem;
                font-size: 1.4rem;
                font-weight: 400;
                line-height: 110%;
            }
        }
    }
}

footer{
    color: #FFFFFF;
    background-color: $explorer-green;
    p{
        padding: 1.6rem;
        text-align: center;

        font-size: 1.6rem;
        font-weight: 600;
        line-height: normal;
    }
}

main, aside{
    background-color: #FFFFFF;
}

button + button{
    margin-left: 1.2rem;
}

#reverse{
    transform: rotate(180deg) scaleX(-1);
}